<input type="hidden" id="alertMessage" value="<%= alertMessage.message %>">

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="" id="modalTitle">알림</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 text-lg font-bold py-4 text-center" id="modalText">

            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button class="btn btn-primary py-3 w-full shadow-lg" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertRefreshModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="" id="modalRefreshTitle">알림</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 text-lg font-bold py-4 text-center" id="modalRefreshText">

            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button type="button" class="btn btn-primary py-3 w-full shadow-lg" data-bs-dismiss="modal" onclick="location.reload();">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertLocationModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="" id="modalLocationTitle">알림</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-b border-gray-400 text-lg font-bold py-4 text-center" id="modalLocationText">

            </div>
            <!-- Modal Body | End  -->
            <!-- Modal Footer | Start -->
            <div class="modal-footer text-right py-4">
                <button type="button" class="btn btn-primary py-3 w-full shadow-lg" data-bs-dismiss="modal" id="locId" onclick="">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nftBuyListModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content px-5 bg-white w-full text-xs sm:text-sm rounded-lg">
            <!-- Modal Header | Start -->
            <!-- Modal Header | Start -->
            <div class="modal-header flex py-4 justify-between text-lg font-bold text-black">
                <h2 class="">Alert</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x bx-sm"></i>
                </button>
            </div>
            <!-- Modal Header | End -->
            <!-- Modal Body | Start  -->
            <div class="modal-body border-t border-gray-400 py-4">
                <div class="text-center">
                    <div class="overflow-x-auto text-xs sm:text-sm w-full">
                        <table class="table-theme-5">
                            <thead class="bg-gray-800">
                            <tr class="bg-gray-800">
                                <th class=""></th>
                                <th class="">상품명</th>
                                <th class="">수량</th>
                                <th class="">금액</th>
                            </tr>
                            </thead>
                            <tbody id="nftBuyListTbody">
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Pagination -->
            </div>
            <!-- Modal Body | End  -->
        </div>
    </div>
</div>

<script>
    $('#alertMessage').on('hide', function () {
        fnSearch();
    })

    $(document).ready(function () {
        if ($('#alertMessage').val() != "") {
            // $('#modalText').empty();
            // $('#modalText').text($('#alertMessage').val());
            // $('#alertModal').modal();
            // alert($('#alertMessage').val());
            fnAlertMessage($('#alertMessage').val());
        }
    });

    function fnAlertMessage(message) {
        $('#modalText').empty();
        $('#modalText').text(message);
        $('#alertModal').modal('show');
        // alert($message);
    }

    function fnAlertRefreshMessage(message) {
        $('#modalRefreshText').empty();
        $('#modalRefreshText').text(message);
        $('#alertRefreshModal').modal('show');
        // alert($message);
    }

    function fnAlertSearchMessage(message) {
        $('#modalSearchText').empty();
        $('#modalSearchText').text(message);
        $('#alertSearchModal').modal('show');
        // alert($message);
    }

    function fnAlertLocationMessage(message, loc) {
        $('#modalLocationText').empty();
        $('#modalLocationText').text(message);
        $("#locId").attr('onclick', 'location.href="'+loc+'"');
        $('#alertLocationModal').modal('show');
        // alert($message);
    }

    //3자리 단위마다 콤마 생성
    function addCommas(x) {
        if (x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        } else {
            return x;
        }

    }

    //모든 콤마 제거
    function removeCommas(x) {
        if (!x || x.length == 0) return "";
        else return x.split(",").join("");
    }


    function fnCopy(_data) {

        fnAlertMessage('Copy 되었습니다.');

        const t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = _data;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
    }

    function setCookie(cookie_name, value, days) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + days);

        var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
        document.cookie = cookie_name + '=' + cookie_value;
    }

    function getCookie(cookie_name) {
        var x, y;
        var val = document.cookie.split(';');

        for (var i = 0; i < val.length; i++) {
            x = val[i].substr(0, val[i].indexOf('='));
            y = val[i].substr(val[i].indexOf('=') + 1);
            x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
            if (x == cookie_name) {
                return unescape(y); // unescape로 디코딩 후 값 리턴
            }
        }
    }

    function wrapWindowByMaskHide() {
        $('#mask, #loadingImg').hide();
        $('#mask, #loadingImg').remove();
    }

    function wrapWindowByMaskShow() {
        //화면의 높이와 너비를 구한다.
        var maskHeight = $(document).height();
        //      var maskWidth = $(document).width();
        var maskWidth = window.document.body.clientWidth;

        var mask =
            "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingImg = '';

        loadingImg +=
            "<div id='loadingImg' style='position:absolute; left:50%; top:40%; display:none; z-index:10000;'>";
        loadingImg += " <img src='/img/viewLoading.gif'/>";
        loadingImg += "</div>";

        //화면에 레이어 추가
        $('body')
            .append(mask)
            .append(loadingImg)

        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
        $('#mask').css({
            'width': maskWidth,
            'height': maskHeight,
            'opacity': '0.3'
        });

        //마스크 표시
        $('#mask').show();

        //로딩중 이미지 표시
        $('#loadingImg').show();
    }
</script>
