
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Admin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script>
    function wrapWindowByMaskShow() {
        //화면의 높이와 너비를 구한다.
        var maskHeight = $(document).height();
        //      var maskWidth = $(document).width();
        var maskWidth = window.document.body.clientWidth;

        var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingImg = "";

        loadingImg += "<div id='loadingImg' style='position:absolute; left:48%; top:50%; display:none; z-index:10000;'>";
        loadingImg += " <img src='/images/viewLoading.gif'/>";
        loadingImg += "</div>";

        //화면에 레이어 추가
        $("body").append(mask).append(loadingImg);

        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
        $("#mask").css({
            width: maskWidth,
            height: maskHeight,
            opacity: "0.3",
        });

        $("#loadingImg").css("top", Math.max(0, ($(window).height() - $("#loadingImg").outerHeight()) / 2 + $(window).scrollTop()) + "px");
        $("#loadingImg").css("left", Math.max(0, ($(window).width() - $("#loadingImg").outerWidth()) / 2 + $(window).scrollLeft() - 15) + "px");

        //마스크 표시
        $("#mask").show();

        //로딩중 이미지 표시
        $("#loadingImg").show();
    }

    function wrapWindowByMaskHide() {
        $("#mask, #loadingImg").hide();
        $("#mask, #loadingImg").remove();
    }
</script>