<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/d/view" class="logo d-flex align-items-center">
            <img src="/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar row">
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <h5 class="card-title text-primary" style="color:#4154f1;">1,340명</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <span class="small pt-1 fw-bold" style="color: #012970;">총 회원수</span> <span
                                    class="text-muted small pt-2 ps-1">(4파트너)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bx bxs-calendar"></i>
                        </div>
                        <div class="ps-3 row mt-1">
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">이번달입금(207건)</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;">170,340,000원</p>
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">오늘입금(15건)</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;">7,160,000원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bx bxs-calendar-check"></i>
                        </div>
                        <div class="ps-3 row mt-1">
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">이번달총수익</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;">340,680원</p>
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">오늘총수익</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;">14,320원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <h5 class="card-title text-primary">753,577원</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="ri-exchange-box-line"></i>
                        </div>
                        <div class="ps-3">
                            <span class="small pt-1 fw-bold" style="color: #012970;">인출가능금액</span> <span
                                    class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/img/profile.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2"><%=user.adminId%></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6><%=user.adminId%></h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>비밀번호변경</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/h/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->