<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/d/view" class="logo d-flex align-items-center">
            <img src="/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar row">
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <h5 class="card-title text-primary" style="color:#4154f1;" id="totalMember">0명</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <span class="small pt-1 fw-bold" style="color: #012970;">총 회원수</span>
                            <span class="text-muted small pt-2 ps-1" id="totalCompany">(0파트너)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bx bxs-calendar"></i>
                        </div>
                        <div class="ps-3 row mt-1">
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;" id="sellMonthCnt">이번달입금(0건)</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;" id="sellMonthPrice">0원</p>
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;" id="sellYesterdayCnt">어제입금(0건)</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;" id="sellYesterdayPrice">0원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bx bxs-calendar-check"></i>
                        </div>
                        <div class="ps-3 row mt-1">
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">이번달총수익</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;" id="revenueMonthPrice">0원</p>
                            <p class="small fw-bold" style="color: #012970;margin-bottom:0;">어제총수익</p>
                            <p class="text-primary small fw-bold" style="margin-bottom:0;" id="revenueYesterdayPrice">0원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-3 mt-4">
            <div class="card info-card sales-card" style="box-shadow: 0px 0 5px rgb(1 41 112 / 10%)">
                <div class="card-body" style="padding:20px 20px 20px 20px">
                    <h5 class="card-title text-primary" id="withdrawPrice">0원</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="ri-exchange-box-line"></i>
                        </div>
                        <div class="ps-3">
                            <span class="small pt-1 fw-bold" style="color: #012970;">인출가능금액</span>
                            <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/img/profile.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2"><%=user.adminId%></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6><%=user.adminId%></h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>비밀번호변경</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/h/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->
<script>
    $(function () {
        //총회원수
        getTotalMember();
        //총파트너수
        getTotalCompany();
        //이번달입금 어제입금
        getTotalSell();
        //이번달총수익
        //어제총수익
        //인출가능금액
        getWithdrawPrice();
    })

    function addComma(value) {
        value = value.toString();
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return value;
    }

    function getTotalMember() {
        let data = {

        }

        $.ajax({
            url: "/h/totalMember",
            dataType: "json",
            type: "post",
            data: data,
            success: function(result) {
                if (result.success) {
                    $("#totalMember").html(addComma(result.data) +'명');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alertModal("관리자에게 문의하여 주세요.");
            },
        });
    }

    function getTotalCompany() {
        let data = {

        }

        $.ajax({
            url: "/h/totalCompany",
            dataType: "json",
            type: "post",
            data: data,
            success: function(result) {
                if (result.success) {
                    $("#totalCompany").html('('+addComma(result.data)+")파트너")
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alertModal("관리자에게 문의하여 주세요.");
            },
        });
    }

    function getTotalSell() {
        let data = {

        }

        $.ajax({
            url: "/h/totalSell",
            dataType: "json",
            type: "post",
            data: data,
            success: function(result) {
                console.log(result)
                if (result.success) {
                    $("#sellMonthCnt").html('이번달입금('+addComma(result.data.totalSellCnt)+'건)')
                    $("#sellMonthPrice").html(addComma(result.data.totalSell)+'원')
                    $("#sellYesterdayCnt").html('어제입금('+addComma(result.data.totalSellCnt)+'건)')
                    $("#sellYesterdayPrice").html(addComma(result.data.totalSell)+'원')
                    $("#revenueMonthPrice").html(addComma(result.data.totalRevenue)+'원')
                    $("#revenueYesterdayPrice").html(addComma(result.data.yesterdayTotalRevenue)+'원')
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alertModal("관리자에게 문의하여 주세요.");
            },
        });
    }

    function getWithdrawPrice() {
        let data = {

        }

        $.ajax({
            url: "/h/withdrawPrice",
            dataType: "json",
            type: "post",
            data: data,
            success: function(result) {
                console.log(result)
                if (result.success) {
                    $("#withdrawPrice").html(addComma(result.data) + '원');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alertModal("관리자에게 문의하여 주세요.");
            },
        });
    }
</script>