<!--========== HEADER ==========-->
<header class="header bg-brown text-white shadow-md fixed top-0 left-0 px-4 w-full">
    <div class="header__container flex items-center md:flex-row-reverse">
        <a href="main.html" class="nav__link nav__logo text-white pt-9">
            <i class="bx bxs-package bx-lg nav__icon"></i>
            <span class="nav__logo-name">Nting</span>
        </a>
        <div class="text-xl text-white cursor-pointer md:hidden">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
    </div>
</header>

<!--========== NAV ==========-->
<div class="nav md:w-64 fixed top-0 -left-full rounded-r-2xl border-r border-neutral-700 text-white bg-brown text-white h-screen pt-4 px-4 shadow-lg" id="navbar">
    <nav class="nav__container p-2">
        <div class="">
            <div class="text-center pt-5 pb-20">
                <i class="bx bxs-user-circle bx-lg"></i>
                <div class="text-2xl"><%= ucompanyName %></div>
                <div class="text-2xl"><%= user.mallGradeName %></div>
            </div>
            <div class="border-t-2 pt-16 divide-x-4"></div>
            <input type="hidden" id="menu" value="<%= basicInfo.menu %>">
            <div class="nav__list">
                <div class="nav__items">
                    <a href="javascript:fnMove('/s/m/view')" class="nav__link" id="menu_system">
                        <i class="bx bx-food-menu nav__icon"></i>
                        <span class="nav__name">설정</span>
                    </a>
                    <a href="javascript:fnMove('/m/view')" class="nav__link" id="menu_member">
                        <i class="bx bx-user nav__icon"></i>
                        <span class="nav__name">회원관리</span>
                    </a>
                    <a href="javascript:fnMove('/m/logView')" class="nav__link" id="menu_userLog">
                        <i class="bx bx-layer nav__icon"></i>
                        <span class="nav__name">유저로그</span>
                    </a>
                    <a href="javascript:fnMove('/c/view')" class="nav__link" id="menu_buy">
                        <i class="bx bx-coin-stack nav__icon"></i>
                        <span class="nav__name">NFT구매관리</span>
                    </a>
                    <a href="javascript:fnMove('/c/wview')" class="nav__link" id="menu_walletHis">
                        <i class="bx bx-wallet-alt nav__icon"></i>
                        <span class="nav__name">판매 내역</span>
                    </a>
                    <a href="javascript:fnMove('/cacl/view')" class="nav__link" id="menu_cacl">
                        <i class="bx bx-book nav__icon"></i>
                        <span class="nav__name">정산</span>
                    </a>
                    <a href="javascript:fnMove('/c/wviewOld')" class="nav__link" id="menu_walletHisOld">
                        <i class="bx bx-spreadsheet nav__icon"></i>
                        <span class="nav__name">로우데이터</span>
                    </a>
                    <a href="javascript:fnMove('/b/notice')" class="nav__link" id="menu_notice">
                        <i class="bx bx-sidebar nav__icon"></i>
                        <span class="nav__name">공지사항</span>
                    </a>
                </div>
            </div>
        </div>

        <a href="/m/logout" class="nav__link nav__logout">
            <i class="bx bx-log-out nav__icon"></i>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>
</div>
<script>

    $(document).ready(function () {
        $(".nav__link").removeClass('active');
        if ($("#menu").val() == 'MENU00000000000001') {
            $("#menu_main").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000002') {
            $("#menu_system").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000003') {
            $("#menu_member").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000004') {
            $("#menu_userLog").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000005') {
            $("#menu_buy").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000006') {
            $("#menu_walletHis").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000007') {
            $("#menu_cacl").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000008') {
            $("#menu_walletHisOld").addClass('active');
        } else if ($("#menu").val() == 'MENU00000000000009') {
            $("#menu_notice").addClass('active');
        }
    });
    function fnMove(path) {
        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post");  //Post 방식
        form.setAttribute("action", path); //요청 보낼 주소

        document.body.appendChild(form);
        form.submit();
    }


</script>