
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title><%=ucompany%></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

	<link rel="stylesheet" type="text/css" href="/css/front/layout.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/front/contents.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/css/front/flat/blue.css" media="all" />

</head>


<body>
	<div class="wrapper login error error02">
		<div class="wrap">
			<div class="title" style="color:black;">
				<h1>404 <span>Page Not Found</span></h1>
				<p>입력하신 페이지 주소가 정확한지 다시 한번 확인해 보시기 바랍니다.<br>
					관련하여 문의 사항이 있으시면 언제든지 고객센터로 문의해 주시기 바랍니다.
				</p>
			</div>
			<div class="btn_wrap" style="color:black;">
					<a href="/" class="btn_submit" style="color:black;"><%=ucompany%>홈으로 가기</a>
				</div>
			<span class="develop" style="color:black;"><%=company%> Developers</span>
		</div>
	</div>
</body>

</html>
